<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ExpressionBuilder" type="ExpressionBuilder.Configuration.ExpressionBuilderConfig, ExpressionBuilder" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <clear/>
    <add name="NORTHWNDDataContextConnectionString" connectionString="Data Source=.; Initial Catalog=NORTHWND; Integrated Security=True;" />
  </connectionStrings>
  <ExpressionBuilder>
    <SupportedTypes>
      <add typeGroup="Date" type="System.DateTimeOffset" />
    </SupportedTypes>
  </ExpressionBuilder>
</configuration>